.userName-wrapper {
  text-align: center;
}
.userName-wrapper h3 {
  font-size: 4rem;
}
.userName-input {
  width: 70%;
  padding: 10px;
  margin-top: 60px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid white;
  color: white;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}
.userName-input:focus {
  outline: none;
}